[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/yamini2410
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/yamini2410
	label-Verified = -1..+1 group user/yamini2410
	push = group user/yamini2410
	read = group user/yamini2410
	rebase = group user/yamini2410
	removeReviewer = group user/yamini2410
	submit = group user/yamini2410
[access "refs/heads/*"]
	create = group user/yamini2410
	push = +force group user/yamini2410
	pushMerge = group user/yamini2410
	read = group user/yamini2410
[access "refs/tags/*"]
	push = group user/yamini2410
	push = +force group user/yamini2410
